

:root {
  --primary-color:        #057a8d;
  --secondary-color:      #f1c111;
  --white-color:          #ffffff;
  --dark-color:           #171819;
  --project-bg:           #f0f8ff;
  --menu-bg:              #161e38; 

  --title-color:          #15141a;
  --gray-color:           #909090;
  --link-color:           #404040;
  --p-color:              #666262;

  --base-font-family:     'Plain-Light', sans-serif;
  --title-font-family:    'Plain-Regular', sans-serif;
  --font-bold-family:     'Plain-Bold', sans-serif;
  --font-weight-bold:     bold;

  --h1-font-size:         42px;
  --h2-font-size:         32px;
  --h3-font-size:         24px;
  --p-font-size:          18px;
  --base-font-size:       16px;
  --menu-font-size:       14px;

  --border-radius-large:  100px;
  --border-radius-small:  5px;
}